{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mt-4">
    <div class="col-12">
        <h2 class="mb-3">Cadastrar Novo Usuário</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Nome Completo ocupa 2 colunas -->
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Nome</label>
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="text-danger">{{ form.first_name.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Sobrenome -->
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Sobrenome</label>
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="text-danger">{{ form.last_name.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Nome de usuário -->
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Username*</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Email -->
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger">{{ form.email.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Senha -->
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.password1.id_for_label }}" class="form-label">Senha*</label>
                            {{ form.password1 }}
                            {% if form.password1.errors %}
                                <div class="text-danger">{{ form.password1.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Confirmação de senha -->
                        <div class="col-md-6 mb-3">
                            <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar Senha*</label>
                            {{ form.password2 }}
                            {% if form.password2.errors %}
                                <div class="text-danger">{{ form.password2.errors }}</div>
                            {% endif %}
                        </div>

                       <!-- Tipo de usuário -->
                      <div class="col-md-6 mb-3">
                          <label for="{{ form.tipo_usuario.id_for_label }}" class="form-label">Tipo de Usuário*</label>
                          {{ form.tipo_usuario }}
                          {% if form.tipo_usuario.errors %}
                              <div class="text-danger">{{ form.tipo_usuario.errors }}</div>
                          {% endif %}
                      </div>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'usuario_list' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
