{% extends 'base.html' %}
{% block title %}Prescrições{% endblock %}

{% block content %}
  <h2>Prescrições Médicas</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th><th>Data</th><th>Paciente</th><th>Médico</th><th>Observações</th>
      </tr>
    </thead>
    <tbody>
      {% for prescricao in prescricoes %}
      <tr>
        <td>{{ prescricao.id }}</td>
        <td>{{ prescricao.data }}</td>
        <td>{{ prescricao.paciente.nome }}</td>
        <td>{{ prescricao.medico.nome }}</td>
        <td>{{ prescricao.observacoes }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
